*.bak
*.class
*.d
*.o
*.log
*~
*.hprof
backup*
build/*
exHdr/*
runtime/*
test/*
lc
rednose
.prjInfo
unused*
bin*
native/libLinuxCNC.so
app/lib/LCExportHandler.jar
JCNCScreen-bin.zip
.gradle/
.idea/
app/build/
compose/build/
